/* .notes-section,
.problems-section {
    border: 3px solid yellow;
    padding: 20px;
    margin: 20px;
    font-size: 1.3rem;
} */

/* input, */
/* textarea,
button {
    padding: 10px;
    font-size: 1.3rem;
    margin: 10px;
    outline: none;
} */
